

/* Início da main */
main {
    padding: 40px 20px;
    text-align: center;
}

.sobre-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.sobre-container h2 {
    color: #007BFF; 
    font-size: 2rem;
    margin-bottom: 20px;
}

.sobre-container p {
    color: #2C2F33; 
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 20px;
}
/* Fim da main */

